.cpi-nav-btn {
  justify-content: center;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  width: 175px;
  height: 45px;
  border: var(--border, 2px) solid var(--clr-blue, white);
  border-radius: var(--rads, 4px);
  margin-right: 16px;
  color: var(--clr-blue, white);

  transition:
    background-color 200ms,
    color 200ms,
    border-color 200ms;
}

.cpi-nav-btn.active {
  color: var(--clr-light-grey, black);
  background-color: white;
}

.cpi-nav-btn:hover {
  border-color: white;
  color: white;
  background-color: var(--clr-blue, white);

}
