.cpi-static-fade-enter-active {
  transition: all 1000ms 2000ms ease;
}
.cpi-static-fade-leave-active {
  transition: all 1000ms cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.cpi-static-fade-enter, .cpi-static-fade-leave-to {
  opacity: 0;
}

section#home-page {
  width: 100vw;
  height: 100vh;
}
