.nav-bar-logo{
  display: block;
  background-position: center;
  background-color: var(--clr-white);
  box-sizing: border-box;
  background-size: contain;
  background-repeat: no-repeat;
}

.nav-bar-tile {
  text-decoration: none;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav-bar-tile.disabled {
  pointer-events: none;
}

.nav-bar-tile::after {
  content: '';
  display: block;
  width: 1px;
  background-color: var(--clr-grey);
  height: 100%;
  right: 0;
  bottom: 0;
  position: absolute;
}

.nav-bar-tile h5 {
  padding: 0 16px;
  color: var(--clr-light-grey);
}

.nav-bar-icon {
  width: 25%;
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  filter: grayscale(100%);
}

.nav-bar-tile:hover {
  background-color: var(--clr-grey);
  border-right: none;
  border-bottom: 2px solid white;
  border-color: var(--clr-blue);
  box-sizing: border-box;
}

.nav-bar-tile:hover h5 {
  color: var(--clr-blue);
}

.nav-bar-tile:hover .nav-bar-icon {
  filter: grayscale(0%);
}
