/* Icons */

:root {

}

/* Variables */

:root {
  --clr-yellow: #FCD027;
  --clr-blue: #0084D6;
  --clr-grey: #535353;
  --clr-white: #E6E6E6;
  --clr-coal: #403F3F;
  --clr-light-grey: #A1A1A1;

  --border: 4px;
  --rads: 8px;
}

/* Typography */

@font-face {
  font-family: Bebas;
  src:
    url('./assets/fonts/BebasNeue.eot'),
    url('./assets/fonts/BebasNeue.otf');
}

body {
  font-size: 135.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Bebas, sans-serif;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-weight: bold;
  font-size: 1.5em;
}
h5 {
  font-size: 1em;
}
