header.page-title {
    margin: 32px;
    position: absolute;
    display: block;
    top: 0
}

header .base-border {
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 4px solid white;
  border-color: var(--clr-blue);
}

header h3.top {
  color: var(--clr-white)
}

header h3.bottom {
  color: var(--clr-blue)
}
